<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="PadronConnectionString" connectionString="Server=10.1.232.8; Database=Padron;User ID=sa;Password=ssecure; Trusted_Connection=False;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="padronProvider" enableTrace="false" templateDirectory="">
		<providers>
			<clear/>
			<add name="padronProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PadronConnectionString" generatedNamespace="DalPadron" includeTableList="Pd_*" includeSpsList="*" generateLazyLoads="true"/>
		</providers>
	</SubSonicService>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
